@model IEnumerable<ProjetoCrud.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h2 style="color: #fff">@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr style="background-color: #171717">
            <th style="color: #fff">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="color: #fff">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="color: #fff">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="color: #fff">
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="color: #fff">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td style="color: #fff">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="color: #fff">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="color: #fff">
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
